.page-header, .content-info {
	h1 {
		text-align: center;
		font-size: $font-size-h2;
		font-family: 'Intro Rust Book Base G', monospace;
		}
}

.navbar-inverse {
  font-family: $font-stack-two;
  }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #ddd;
    color: #000;
    outline: 0 none;
    text-decoration: none;
}

.navbar-brand {
  font-family: 'Intro Rust Two Base', monospace;
	font-size: $font-size-h3;
  padding: .5rem 1.5rem;
  height: 3rem;
  line-height: 12px;
  }

.tagline {
    @extend .navbar-brand;
    clear: both;
    font-size: $font-size-h4;
    line-height: 1.6rem;
    height: 1rem;
    margin-bottom: 3rem;
  }

